section#navbar{
    background-color: #343a40;
}

section:not(#navbar){
    margin-bottom: 3%;
}

#header img{
    margin: auto;
    width: 100vw!important;
    height: 800px;
    object-fit: cover;
    margin-bottom: 2.5%;
}

.carousel-item.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay:0.5s ;
}

.disappear{
    opacity: 0;
    transition: 1s !important;
}

