<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Muhammad Anbia Senggagau</h1>
        </div>
        <div class="col">
            <h1>Anbia Senggagau</h1>
        </div>
        <div class="col">
            <h1>Senggagau</h1>
        </div>
    </div>
</div>