body{
    font-family: "Ubuntu";}

#title{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-family: "Montserrat";
    color: white;
    font-weight:900;
    font-size: 3.5rem !important;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem ;
    padding-left: 0px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.nav-item{
    padding:0 18px ;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Ubuntu";
    color: white;
}

.download-button{
    margin: 5% 3% 5% 0%;
    
}
 @media (max-width:973px){
     .download-button{
         width: 40% !important;
     }
 }

.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    
}

h3{
    font-family: "Monstserrat";
    font-weight:900;
}

.feature-box{
    margin-bottom: 20px;
}

.feature-box p{
    color:grey;
}

.feature-box i{
    padding-bottom: 15px;
    font-size:48px;
    color: #ef8172;
}

.feature-box i:hover{
    opacity: 80%;
    color:#ff4c68;
}

#testimonials{
    background-color: #ef8172;
    /* padding: 7% 15%; */
    text-align: center;
    color: white;
}

h2{
    font-size: 3rem !important;
    line-height: 1.5;
}

#testimonials img{
    margin:7%;
    width: 10%;
    border-radius: 100%;
}

#press{
    background-color: #ef8172;
    text-align: center;
}
#press img{
    width: 300px;
    margin: 20px 20px;
    margin-bottom: 7%;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title-1{
        text-align: center;
        font-size: 40px !important;
    }
}

#cta{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15%;

}

#cta h3{
    font-size: 3.5rem !important;
    font-family: "Ubuntu";
    line-height: 1.5;
}

#footer{
    background-color: #ffffff;
    text-align: center;
    padding: 7% 15%;
}
#footer i{
    margin:20px 15px;
}
#footer p{
    color: grey;
}