<div class="container">
    <div class="row">
        <div class="col text-center">
            <!-- Secara default, akan mengakses ke folder public -->
            <img src="img/1567608846411.jpg" class="rounded-circle thumbnail mt-5" width="300" height="300"
                alt="Profile Picture" style="object-fit: cover;">
            <h1 class="display-4 mt-3">Muhammad Anbia Senggagau</h1>
            <p class="lear">Programmer | Tutor</p>
        </div>
    </div>
</div>