<div class="container">
    <h1>Halaman About</h1>
    <% if (contact) { %>
        <h3>Tentang <%= contact.nama %>
        </h3>
        <h3>Yang Memiliki Email <%= contact.email %>
        </h3>
        <a class="btn btn-primary badge mb-3" href="/assign?edit=<%= contact.nama %>"
            onclick="return confirm('Edit data contact?')">Edit</a>
        <form action="/contact?_method=DELETE" method="post" class="d-inline">
            <input type="hidden" name='nama' value='<%=contact.nama%>'>
            <button class="btn btn-danger badge mb-3" type="submit" onclick="return confirm('Hapus data contact?')">
                Hapus</button>
        </form>
        <br>
        <a href="/contact" class="btn btn-success badge badge-pill">Kembali ke Halaman Daftar Contact</a>
        <% } else {%>
            <div class="alert alert-danger container mr-auto" role="alert">Data contact tidak ditemukan<br>
                <a class="alert-link" href="/contact"><strong> Kembali ke halaman daftar contact</strong></a>
            </div>
            <% } %>

</div>